 html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
} 

body {
	margin: 0 auto;
	/*overflow: hidden;*/
	scroll-behavior: smooth;
}

h1, h2, h3, h4, h5 {
	text-transform: uppercase;
	color: #ffff;
	margin: 0;
}

.wrap {
	min-width: 320px;
	font-family: 'Gotham Pro', Arial, sans-serif; 
	font-weight: normal;
	font-size: 14px;
    line-height: 17px;
 	color: #000000;
 	position: relative;
 	margin: 0 auto;
 }

.header-wrap {
	height: 72px;
	padding: 24px 20px 26px 20px;  
}

.header__search-form, .header__sign,
.header__cart, .header__language-wrap{
	display: none;
}
.main-menu {
	display: flex;
	justify-content: space-between;
}
.header__col-left {
	display: flex;
	align-items: center;
}

.header__logo {
	position: relative;
    background: url(img/logo.svg);
    position: relative;
    width: 104px;
    height: 22px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 45px;
}

.menu__icon {
	width: 41px;
	height: 6px; 
	background: #000000;
	position: relative;
	display: block;
	cursor: pointer;
}

.menu__icon:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%; 
	background: inherit;
	transform: translateY(190%);
} 

.main-menu__item {
	display: none;
	font-family: 'Gotham Pro', Arial, sans-serif; 
	font-weight: bold;
	font-size: 12px;
    line-height: 11px;
 	color: #000000;
 	position: relative;
 	text-decoration: none;
 	text-transform: uppercase;
 }

.header__cart-circle {
	display: none;
	font-weight: bold;
	background: #000;
	color: #fff;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	text-align: center;
	font-size: 10px;
}

.header__sign-title, .header__cart-text {
	display: none;
	font-family: 'Gotham Pro', Arial, sans-serif; 
	font-weight: bold;
	font-size: 12px;
    line-height: 11px;
 	color: #000000;
 	position: relative;
 	text-decoration: none;
 	text-transform: uppercase;
 	
 }

.main__slider {
	background: url(img/slider.jpg);
	background-size: cover;
    height: 191px;
	height: 191px;
	background-repeat: no-repeat;
	padding-top: 62px ;
	padding-left: 20px;
	margin-bottom: 38px;
}

.main__slider-title {
	font-size: 20px;
	line-height: 20px;
	width: 206px;
	margin-bottom: 16px;
}



.arrow-text {
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 11px;
	font-weight: bold;
}

.arrow {
	display: inline-block;
	width: 45px;
	position: relative;
	border-bottom: 1px solid #fff;
	transform: translateY(-300%);

}

.arrow:before, .arrow:after {
	content: "";
	position: absolute;
	width: 5px;
	border-bottom: 1px solid inherit;
	border-radius: 10px;
	height: 1px;
	background: #fff;
}

.arrow:before {
	right: 0;
	transform: rotate(45deg);
	transform-origin: bottom right;
}

.arrow:after {
	right: 0;
	transform: rotate(315deg);
	transform-origin: top right;
}

.main__slider-arrow{
	display: inline-block;

}

.slider__arrow{
	display: inline-block;
	margin: 0;
	padding-right: 3px;
    
}

.slider__arrow-wrap{
	height: 20px;
}

.products__items-wrap {
	display: inline-block;
}

.products__title {
	color: #000;
	text-align:center;
}

.products__items-wrap {
	display: flex;
	justify-content: space-between;
}

.description-coast__price {
	font-weight: bold;
	font-size: 14px;
    line-height: 13px;
 }

.card {
 	width: 100%;
 }

.card-wrap {
	width: 78%;
	margin:0 auto; 
}

.card-product__img {
	display:block;
	width: 170px;
 	height: 160px;
  	margin: 0 auto;
  	margin-bottom: 22px;
}

.card__description-title{
	font-size: 15px;
    line-height: 14px;
    margin: 0;
    margin-bottom: 6px;
}

.description-coast__price{
	margin: 0;
	font-size: 20px;
    line-height: 19px;
    
   
}
.card2, .card3, .card4 {
	display:none;
}
.card-description__coast-color {
	display:flex;
	justify-content: space-between;
}

.card-description__price-color {
	width: 15px;
	height: 15px;
	border-radius:50%;
	display:inline-block;
}

.card-color1{
	background: #B62E3C;
}
.card-color2 {
	background: #0E1211;
}

.card-color3{
	background: #C4C4C4;
}

.card-color4{
	background: #FDB431;
}

.card-color5{
	background: #E29D69;
}
.card-color6{
	background: #E29D69;
}
.card-color7{
	background: #41479B;
}
.card-color8{
	background: #257DA9;
}

.card-color-click{
    width: 18px;
	height: 18px;
	border-radius:50%;
}
}

@media (min-width: 375px) and (max-width: 767px) {
	
.wrap {
	max-width: 767px;
}

.card-wrap {
	width: 67%;
}

.header-wrap {
	padding: 24px 47px 26px 48px;  
}

.main__slider {
	padding-top: 62px ;
	padding-left: 48px;
	background-repeat: repeat;
}


}

@media (min-width: 768px) and (max-width: 1023px) {
	
.wrap {
	max-width: 1023px;
}

.header-wrap {
	height: 113px;
	padding: 42px 44px 38px 43px;  
}

.menu__icon {
	width: 61px;
	height: 9px; 
	transform: translateY(4px);
}

.header__logo {
	width: 160px;
	height: 34px;
	background-size: cover;
}

.main__slider {
	padding-top: 121px ;
	padding-left: 44px;
	background-repeat: no-repeat;
	height: 415px;
	
	margin-bottom: 66px;
}

.main__slider-title {
	font-size: 50px;
	line-height: 48px;
	width: 355px;
	margin-bottom: 47px;
}

.slider__arrow {
    padding-right: 8px;
}

.arrow-text {
	font-size: 20px;
	line-height: 19px;
}

.arrow {
	width: 71px;
	border-bottom: 2px solid #fff;
}

.arrow:before, .arrow:after {
	width: 10px;
	border-bottom: 2px solid inherit;
	height: 2px;
}

.arrow:before {
	right: 0;
	transform: rotate(45deg);
	transform-origin: bottom right;
}

.arrow:after {
	right: 0;
	transform: rotate(315deg);
	transform-origin: top right;
}
.card2 {
	display:flex;
}

.products__title {
	font-size: 30px;
	line-height: 29px;
	margin-bottom: 20px;
}

.card-product__img {
	width: 229px;
	height: 233px;
}

.card__description-title{
	font-size: 20px;
    line-height: 19px;
}

.description-coast__price {
	font-weight: bold;
	font-size: 25px;
    line-height: 24px;
 }


}

@media (min-width: 1024px) and (max-width: 1169px) {
	
.wrap {
	max-width: 1169px;
	width: 91%;
    margin: 0 auto;
}

.menu__icon {
	display: none;
}
 .header__search-form, .header__sign,
.header__cart, .main-menu__item,
.header__sign-title {
	display: block;
}

.header__cart-circle, .header__cart-text{
    display: inline-block;}

.header {
	
 }

.header-wrap {
	height: 129px;
	padding: 31px 0px 28px 0;  
}

.main-menu{
 	display: flex;
 	align-items: center;
 }

 .header__col-left{
	display: flex;
}

.header__logo {
	background: url(img/logobig.svg);
	width: 60px;
	height: 54px;
	background-repeat: no-repeat;
	display: inline-block;
	margin-right: 32px;
}

.header__main-menu{
	width: 332px;
	display:flex;
	justify-content: space-between;
}
 .header__col-right {
 	display: flex;
 	width: 359px;
 	justify-content: space-between;
 	align-items: center;
 }

.header__col-right_nav{
	display: flex;
	align-items: center;
}

.header__search-form{
	padding-top: 9px;
	border-bottom: 1px solid #000;
	height: 29px;
}

.header__search-button{
	display: inline-block;
}

.header__search-text{
	width: 138px;
	border: none;
	bottom: 0;
}

.header__language-wrap{
	display: flex;
	align-items: end;
}

.main__slider {
	background-position: center;
   	padding-top: 75px ;
	padding-left: 55px;
	background-repeat: no-repeat;
	height: 252px;
	margin-bottom: 69px;
}

.main__slider-title {
	font-size: 30px;
	line-height: 29px;
	width: 208px;
	margin-bottom: 7px;

}
.slider__arrow {
    padding-right: 8px;

}
.products__title {
	text-align:center;
	margin-bottom: 17px;
}
.products__items-wrap {
	display: flex;
	justify-content: space-between;
}

.description-coast__price {
	font-weight: bold;
	font-size: 14px;
    line-height: 13px;
 }

.card {
 	position: relative;
 	width: 25%;
 	display:flex;
 	justify-content: flex-end;
 	
 }
 .card:after {
 	position: absolute;
 	content: "";
 	width: 1px;
 	height: 100px;
 	background: #000;
 	opacity: 0.2;
 	top:20%;
 }
.card-wrap {
	width: 88%;
	margin:0 auto; 
}


.card:last-child{
	
}

.card-product__img {
	display:block;
	width: 170px;
 	height: 173px;
  	margin: 0 auto;
  	margin-bottom: 33px;
}

.title {
	transform: scalex(1.05)
}

.card__description-title{
	font-size: 12px;
    line-height: 11px;
    margin: 0;
    margin-bottom: 8px;
}

.description-coast__price{
	margin: 0;
}
}

@media (min-width: 1170px) {
.wrap {
	max-width: 1170px;
	width: 88%;
    margin: 0 auto;
}

.menu__icon {
	display: none;
}
 .header__search-form, .header__sign,
.header__cart, .header__language-wrap, 
.header__sign-title {
	display: block;
}

.header__cart-circle, .header__cart-text{
    display: inline-block;
}

.header-wrap {
	height: 116px;
	padding: 31px 0px 26px 0;   
}

.main-menu{
 	justify-content: space-between;
 }

.header__col-right {
	display: flex;
	align-items: center;
}

.header__logo {
	background: url(img/logobig.svg);
    background-position: center;
    width: 55px;
    height: 55px;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: contain;
}
.header__main-menu {
	justify-content: space-between;
    display: flex;
    width: 335px;
}

.main-menu__item{
 	display: block;
}

 .header__col-right {
 	display: flex;
 	justify-content: space-between;
 	width: 405px;

 }

.header__col-right_nav{
	display: flex;
	align-items: center;
}


.header__search-form{
	border-bottom: 1px solid #000;
	
}

.header__search-button{
	display: inline-block;
}

.header__search-text{
	border: none;
	width: 159px;
	padding-top: 11px;
}

.header__cart-circle {
	display: inline-block;
}

.header__language-img {
	padding-top: 6px;
}

.main__slider {
	background-position: center;
   	padding-top: 88px ;
	padding-left: 60px;
	background-repeat: no-repeat;
	height: 280px;
	margin-bottom: 54px;
}

.main__slider-title {
	font-size: 30px;
	line-height: 29px;
	width: 208px;
	margin-bottom: 13px;

}
.slider__arrow {
    padding-right: 1px;
}

.products__title {
	text-align:center;
	margin-bottom: 17px;
}
.products__items-wrap {
	display: flex;
	justify-content: space-between;
}

.description-coast__price {
	font-weight: bold;
	font-size: 14px;
    line-height: 13px;
 }

.card {
 	position: relative;
 	width: 25%;
 	display:flex;
 	justify-content: flex-end;
 	
 }
 .card:after {
 	position: absolute;
 	content: "";
 	width: 1px;
 	height: 100px;
 	background: #000;
 	opacity: 0.2;
 	top:20%;
 }
.card-wrap {
	width: 88%;
	margin:0 auto; 
}


.card:last-child{
	
}

.card-product__img {
	display:block;
	width: 170px;
 	height: 173px;
  	margin: 0 auto;
  	margin-bottom: 33px;
}

.title {
	transform: scalex(1.05)
}

.card__description-title{
	font-size: 12px;
    line-height: 11px;
    margin: 0;
    margin-bottom: 8px;
}

.description-coast__price{
	margin: 0;
}
