@font-face {
    font-family: 'Gotham Pro';
    src: url('GothaPro.woff2') format('woff2'),
         url('GothaPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothaProBold.woff2') format('woff2'),
         url('GothaProBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothaProReg.woff2') format('woff2'),
         url('GothaProReg.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}